{% extends '_base-port.html' %} 
{% load static %}
{% block content %}
                    <div class="bandeiras">
                        <a href="{% url 'divulgacao' %}" class="mr-2"><img src="{% static 'assets/img/brasil.png' %}" alt=""></a>   
                        <a href="{% url 'divulgacao_ing' %}" class="mr-2"><img src="{% static 'assets/img/eua.png' %}" alt=""></a>
                        <a href="{% url 'divulgacao_fra' %}"><img src="{% static 'assets/img/franca.png' %}" alt=""></a>   
                    </div>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!--Fim menu-->

    <!--Início div inicial-->
    <div class="div-inicial d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex inicio-divulgacao justify-content-center">
                    <h1 class="text-center">Confira as nossas ações de divulgação científica </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 inicio-divulgacao d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/inicio-divulgacao.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--Fim div inicial-->

    <!--Início texto inicial divulgação-->
    <div class="texto-inicial-equipe pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos-paginas">
                    <h3 class="pb-5">CONFIRA NOSSOS POSTS NO INSTAGRAM <br> E NO LINKEDIN</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 descricao-inicio-equipe">
                    <p class="text-justify">{{texto_inicial.texto_divulgacao}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--Fim texto inicial divulgação-->

    <!--Início postagens-->
    <div class="postagens mt-5">
        <div class="container">
            <div class="row">
                {% for p in publicacao %}
                <div class="col-md-4 box-postagem mt-3">
                    <a href="{{p.link_publicacao}}" target="_blank">
                        <img src="{{p.img_publicacao.url}}" alt="">
                    </a>
                </div>
                {% empty %}
                <p>Ainda não há nenhuma publicação</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Fim postagens-->

    <!--Inicio outras divulgações-->
    <div class="divulgacoes mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos-paginas">
                    <h3 class="pb-5">TAMBÉM CONTAMOS COM EVENTOS, <br> CURSOS E PROJETOS DE EXTENSÃO</h3>
                </div>
            </div>
            <div class="row">
                {% for a in acoes %}
                <div class="col-md-4 mb-5">
                    <div class="box-divulgacao d-flex align-items-center flex-column justify-content-center" data-toggle="modal" data-target="#modal-divulgacao-{{a.id}}">
                        <div class="tipo-divulgacao d-flex flex-row align-items-center mb-3">
                            {% if a.tipo == "Curso" %}
                            <i class="fa-solid fa-chalkboard-user mr-2"></i>
                            {% elif a.tipo == 'Evento' %}
                            <i class="fa-regular fa-calendar-check mr-2"></i>
                            {% else %}
                            <i class="fa-solid fa-lightbulb mr-2"></i>
                            {% endif %}
                            <h6>{{a.tipo}}</h6>
                        </div>
                        <h4 class="text-center mx-3">{{a.titulo}}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Fim outras divulgações-->

    {% for a in acoes %}
    <!-- Modal 1 outras divulgações -->
    <div class="modal fade" id="modal-divulgacao-{{a.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #00abd0; font-weight: bold;">Sobre o {{a.tipo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-justify">
                        {{a.texto}}
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endblock %}