{% extends '_base-ing.html' %} 
{% load static %}
{% block content %}
                    <div class="bandeiras">
                        <a href="{% url 'index' %}" class="mr-2"><img src="{% static 'assets/img/brasil.png' %}" alt=""></a>   
                        <a href="{% url 'index_ing' %}" class="mr-2"><img src="{% static 'assets/img/eua.png' %}" alt=""></a>
                        <a href="{% url 'index_fra' %}"><img src="{% static 'assets/img/franca.png' %}" alt=""></a>    
                    </div>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!--Fim menu-->

    <!--Início div inicial-->
    <div class="div-inicial-index d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1 class="mb-3">CONECTA.AI</h1>
                    <h2 class="mb-4">Integrated project and development of connected vehicles</h2>
                    <a href="{% url 'index_ing' %}">
                        READ MORE
                    </a>
                </div>
                <div class="col-lg-5 d-flex justify-content-center">
                    <img src="{% static 'assets/img/img-inicio-site.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--Fim div inicial-->

    <!--Início texto inicial equipe-->
    <div class="texto-inicial-equipe pb-5 pt-5" id="texto-sobre-conecta-ai">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos-paginas">
                    <h3 class="pb-5 pt-5 text-center">A RESEARCH GROUP IN THE AREA OF CONNECTED VEHICLES</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 descricao-inicio-equipe">
                    <p class="text-justify">{{info_home.texto_inicial_ing}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--Fim texto inicial equipe-->

    <!--Início números projeto-->
    <div class="numeros mb-5 pt-5">
        <div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-lg-4">
                    <div class="box-numeros mb-5 d-flex align-items-center flex-column justify-content-center mx-auto">
                        <h1 class="text-center">{{info_home.numero_artigos}}</h1>
                        <h4 class="text-center">Published Papers</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-numeros mb-5 d-flex align-items-center flex-column justify-content-center mx-auto">
                        <h1 class="text-center">{{info_home.numero_pesquisadores}}</h1>
                        <h4 class="text-center">Researchers</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-numeros mb-5 d-flex align-items-center flex-column justify-content-center mx-auto">
                        <h1 class="text-center">{{info_home.numero_projetos}}</h1>
                        <h4 class="text-center">Developed projects</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fim números projeto-->

    <!--Início opções site-->
    <div class="opcoes-site">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos-paginas">
                    <h3 class="pb-5">INNOVATIVE PROJECTS AND RESEARCHES <br> IN THE CONTEXT OF SUSTAINABLE CITIES</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 descricao-inicio-equipe">
                    <p class="text-justify">{{info_home.texto_opcoes_ing}}</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-6 ">
                    <a href="pesquisa.html">
                        <div class="box-opcao-site d-flex justify-content-center flex-column align-items-center mb-5 mx-auto">
                            <i class="fa-solid fa-magnifying-glass fa-2x mb-4"></i>
                            <h4 class="text-center">Research<br> lines</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="equipe.html">
                        <div class="box-opcao-site d-flex justify-content-center flex-column align-items-center mb-5 mx-auto">
                            <i class="fa-solid fa-people-group fa-2x mb-4"></i>
                            <h4 class="text-center">Research <br> team</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="publicacoes.html">
                        <div class="box-opcao-site d-flex justify-content-center flex-column align-items-center mb-5 mx-auto">
                            <i class="fa-solid fa-file-lines fa-2x mb-4"></i>
                            <h4 class="text-center">Publications <br> and articles</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="pesquisa.html">
                        <div class="box-opcao-site d-flex justify-content-center flex-column align-items-center mb-5 mx-auto">
                            <i class="fa-solid fa-bullhorn fa-2x mb-4"></i>
                            <h4 class="text-center">Scientific <br> divulgation</h4>
                        </div>
                    </a> 
                </div>
            </div>
        </div>
    </div>
    <!--Fim opções site-->

    <!--Início publicações inicio-->
    <div class="publicacoes-inicio mt-1 mb-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos-paginas">
                    <h3 class="pb-5">CHECK OUT OUR MOST RECENT <br> PUBLICATIONS AND PROJECTS</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 box-postagem mt-3">
                    <a href="https://www.instagram.com/p/CrOnPKVpXgm/" target="_blank">
                        <img src="{% static 'assets/img/post1.png' %}" alt="">
                    </a>
                </div>
                <div class="col-md-4 box-postagem mt-3">
                    <a href="https://www.instagram.com/p/CrBv3hVOxju/" target="_blank">
                        <img src="{% static 'assets/img/post2.png' %}" alt="">
                    </a>
                </div>
                <div class="col-md-4 box-postagem mt-3">
                    <a href="https://www.instagram.com/p/CpQOCfKuTk7/" target="_blank">
                        <img src="{% static 'assets/img/post3.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
   

    {% endblock %}