{% extends '_base-fra.html' %} 
{% load static %}
{% block content %}
                    <div class="bandeiras">
                        <a href="{% url 'index' %}" class="mr-2"><img src="{% static 'assets/img/brasil.png' %}" alt=""></a>   
                        <a href="{% url 'index_ing' %}" class="mr-2"><img src="{% static 'assets/img/eua.png' %}" alt=""></a>
                        <a href="{% url 'index_fra' %}"><img src="{% static 'assets/img/franca.png' %}" alt=""></a>    
                    </div>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!--Fim menu-->

    <!--Início div inicial-->
    <div class="div-inicial-index d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1 class="mb-3">CONECTA.AI</h1>
                    <h2 class="mb-4">Conception et développement intégrés de véhicules connectés</h2>
                    <a href="{% url 'index_fra' %}">
                        LISEZ PLUS
                    </a>
                </div>
                <div class="col-lg-5 d-flex justify-content-center">
                    <img src="{% static 'assets/img/img-inicio-site.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--Fim div inicial-->

    <!--Início texto inicial equipe-->
    <div class="texto-inicial-equipe pb-5 pt-5" id="texto-sobre-conecta-ai">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos-paginas">
                    <h3 class="pb-5 pt-5 text-center">UN GROUPE DE RECHERCHE DANS LE DOMAINE DES VÉHICULES CONNECTÉS</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 descricao-inicio-equipe">
                    <p class="text-justify">{{info_home.texto_inicial_fra}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--Fim texto inicial equipe-->

    <!--Início números projeto-->
    <div class="numeros mb-5 pt-5">
        <div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-lg-4">
                    <div class="box-numeros mb-5 d-flex align-items-center flex-column justify-content-center mx-auto">
                        <h1 class="text-center">{{info_home.numero_artigos}}</h1>
                        <h4 class="text-center">Articles publiés</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-numeros mb-5 d-flex align-items-center flex-column justify-content-center mx-auto">
                        <h1 class="text-center">{{info_home.numero_pesquisadores}}</h1>
                        <h4 class="text-center">Chercheurs</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-numeros mb-5 d-flex align-items-center flex-column justify-content-center mx-auto">
                        <h1 class="text-center">{{info_home.numero_projetos}}</h1>
                        <h4 class="text-center">Projets développés</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fim números projeto-->

    <!--Início opções site-->
    <div class="opcoes-site">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos-paginas">
                    <h3 class="pb-5">PROJETS INNOVANTS ET RECHERCHE <br> DANS LE CONTEXTE DES VILLES DURABLES</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 descricao-inicio-equipe">
                    <p class="text-justify">{{info_home.texto_opcoes_fra}}</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-6 ">
                    <a href="{% url 'pesquisa_fra' %}">
                        <div class="box-opcao-site d-flex justify-content-center flex-column align-items-center mb-5 mx-auto">
                            <i class="fa-solid fa-magnifying-glass fa-2x mb-4"></i>
                            <h4 class="text-center">Lignes de <br> recherche</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'equipe_fra' %}">
                        <div class="box-opcao-site d-flex justify-content-center flex-column align-items-center mb-5 mx-auto">
                            <i class="fa-solid fa-people-group fa-2x mb-4"></i>
                            <h4 class="text-center">Équipe de <br> chercheurs</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'publicacoes_fra' %}">
                        <div class="box-opcao-site d-flex justify-content-center flex-column align-items-center mb-5 mx-auto">
                            <i class="fa-solid fa-file-lines fa-2x mb-4"></i>
                            <h4 class="text-center">Publications <br> et articles</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'divulgacao_fra' %}">
                        <div class="box-opcao-site d-flex justify-content-center flex-column align-items-center mb-5 mx-auto">
                            <i class="fa-solid fa-bullhorn fa-2x mb-4"></i>
                            <h4 class="text-center">Diffusion <br> scientifique</h4>
                        </div>
                    </a> 
                </div>
            </div>
        </div>
    </div>
    <!--Fim opções site-->

    <!--Início publicações inicio-->
    <div class="publicacoes-inicio mt-1 mb-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos-paginas">
                    <h3 class="pb-5">CONSULTEZ NOS PUBLICATIONS <br> ET PROJETS LES PLUS RÉCENTS</h3>
                </div>
            </div>
            <div class="row">
                {% for p in publicacao %}
                <div class="col-md-4 box-postagem mt-3">
                    <a href="{{p.link_publicacao}}" target="_blank">
                        <img src="{{p.img_publicacao.url}}" alt="">
                    </a>
                </div>
                {% empty %}
                <p>Il n'y a pas encore de publication enregistrée</p>
                {% endfor %}
            </div>
        </div>
    </div>
   
    {% endblock %}