{% extends '_base-fra.html' %} 
{% load static %}
{% block content %}
                    <div class="bandeiras">
                        <a href="{% url 'publicacoes' %}" class="mr-2"><img src="{% static 'assets/img/brasil.png' %}" alt=""></a>   
                        <a href="{% url 'publicacoes_ing' %}" class="mr-2"><img src="{% static 'assets/img/eua.png' %}" alt=""></a>
                        <a href="{% url 'publicacoes_fra' %}"><img src="{% static 'assets/img/franca.png' %}" alt=""></a>   
                    </div> 
                </ul>
            </div>
        </div>
    </nav>
    <!--Fim menu-->

    <!--Início div inicial-->
    <div class="div-inicial d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex inicio-publicacoes justify-content-center">
                    <h1 class="text-center">Consultez les publications de notre équipe</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 inicio-publicacoes d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/publicacoes-inicio.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--Fim div inicial-->

    <!--Início texto inicial publicações-->
    <div class="texto-inicial-equipe pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 titulos-paginas">
                    <h3 class="pb-5">ARTICLES ET PUBLICATIONS D'INTÉRÊT <br> NATIONAL ET INTERNATIONAL</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 descricao-inicio-equipe">
                    <p class="text-justify">{{texto_inicial.texto_publicacoes_fra}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--Fim texto inicial publicações-->

    <!--Início artigos-->
    <div class="artigos">
        <div class="container">
            {% for ano, artigos in artigos_por_ano.items %}
            <div class="row">
                <div class="col-12 mt-5">
                    <h4>{{ ano }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for artigo in artigos %}
                    <div class="d-flex flex-row info-artigo align-items-center"> 
                        <p class="mr-2">{{ artigo.titulo }}. {{artigo.autores}}. <b>{{artigo.local}}, {{artigo.ano}}</b></p> 
                        <a href="{{ artigo.link_artigo }}" target="_blank"> <i class="fa-regular fa-file-lines"></i> </a>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--Fim artigos-->

    {% endblock %}